<a href="https://colab.research.google.com/github/sdw1621/SK_onlile/blob/main/SK_%EC%A7%81%EC%9E%A5%EC%9D%B8%EC%9D%84_%EC%9C%84%ED%95%9C_%ED%8C%8C%EC%9D%B4%EC%8D%AC_Colab_CH03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**CH 03. 파이썬 자료형과 변수**

##**3.1. 숫자 자료형**

In [ ]:
print(5)    # 양수형 정수
print(-10)  # 음수형 정수
print(3.14) # 소수 2번째 자리 실수
print(1000) # 양수형 정수
print(5+3)  # 덧셈 연산
print(2*8)  # 곱셈 연산
print(3*(3+1))

5
-10
3.14
1000
8
16
12

##**3.2. 문자열 자료형**

In [ ]:
print('풍선') # 문자열 앞 뒤 홀따옴표
print("나비") # 문자열 앞 뒤 쌍따옴표

print("ㅋㅋㅋㅋㅋㅋㅋㅋㅋ")
print("ㅋ"*9)

풍선
나비
ㅋㅋㅋㅋㅋㅋㅋㅋㅋ
ㅋㅋㅋㅋㅋㅋㅋㅋㅋ

##**3.3. 문자열 숫자 → 숫자 자료 형 변환**

In [ ]:
print('3') # 문자열형 숫자
print(type('3')) # '3' 데이터 형 확인

3
<class 'str'>

In [ ]:
type_change = '3'
print(type(type_change))

int_type = int(type_change)
# print(int_type)
print(type(int_type))

<class 'str'>
<class 'int'>

##**3.4. boolean 자료형**

In [ ]:
# 불리언 => 참 / 거짓

print(5 > 10) # False 거짓
print(5 < 10) # True 참
print(True) # True
print(False)  # False
print(not True) # False
print(not False) # True
print(not (5>10)) # True

False
True
True
False
False
True
True

##**3.5. 변수**

In [ ]:
# 애완동물을 소개해 주세요!

animal = "강아지"
name = "연탄이"
age = 4
hobby = "산책"
is_adult = age >= 3

print("우리집 " + animal + "의 이름은 " + name + "에요")

hobby = "공놀이"

print(name + "는 " + str(age) + "살이며, " + hobby + "을 아주 좋아해요") # 6행과 11행 중 11행에서 저장된 변수값 출력
print(name, "는 ", age, "살이며, ", hobby, "을 아주 좋아해요")
print(name + "는 어른일까요? " + str(is_adult)) # 변수를  '+' 로 연결시 숫자형 자료형을 문자형으로 변환하여 사용하여야 한다. => str( )

우리집 강아지의 이름은 연탄이에요
연탄이는 4살이며, 공놀이을 아주 좋아해요
연탄이 는  4 살이며,  공놀이 을 아주 좋아해요
연탄이는 어른일까요? True

In [ ]:
print(1 + 1) # 정수 + 정수
print(1 + 1.5) # 정수 + 실수
print(1 + "1") # 정수 + 문자열

2
2.5

TypeError: ignored

In [ ]:
print(str(1) + "1") # str(정수) + 문자열

11

In [ ]:
name = "연탄이"
age = 4

print( name, age, "살입니다,")

연탄이 4 살입니다,

##**3.6 주석**

In [ ]:
# 문제
# 단축키(Ctrl + /)를 이용하여 한 줄 주석을 완성하세요
Quiz) 변수를 이용하여 다음 문장을 출력하시오

# 정답
# Quiz) 변수를 이용하여 다음 문장을 출력하시오

# 문제
# 여러 줄 주석(""" """)를 이용하여 여러 줄 주석을 완성하세요

변수명 : station

변수값 : "사당", "신도림", "인천공항" 순서대로 입력

출력 문장 : xx 행 열차가 들어오고 있습니다.

# 정답
"""
변수명 : station
변수값 : "사당", "신도림", "인천공항" 순서대로 입력
출력 문장 : xx 행 열차가 들어오고 있습니다.
"""

##**확인문제(선택형)**

In [ ]:
# 문제1. 공통으로 입력될 함수를 작성

type_change = '3'
print( type(type_change) ) # (   ①   ) (type_change)

int_type = int(type_change)
print( type(int_type) ) # (   ①   )(int_type)

# 출력 결과
# <class str>
# <class int>

<class 'str'>
<class 'int'>

In [ ]:
# 문제3. is_adult 변수의 자료형은?

age = 4
is_adult = age >= 3

print(type(is_adult))

<class 'bool'>

##**확인문제(작업형)**

In [ ]:
# Quiz) 변수를 이용하여 다음 문장을 출력하시오

"""
변수명 : station

변수값 : "사당", "신도림", "인천공항" 순서대로 입력

출력 문장 : xx 행 열차가 들어오고 있습니다.
"""

station = "사당"
print(station + "행 열차가 들어오고 있습니다.")


# stations = ["사당    ", "신도림  ", "인천공항"]

# for station in stations:
#   print(station + " 행 열차가 들어오고 있습니다.")

사당행 열차가 들어오고 있습니다.